<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>精确搜索</title>
    <link rel="stylesheet" href="/static/X-admin/lib/layui/css/layui.css" media="all">
    <script src="/static/X-admin/lib/layui/layui.js"></script>
</head>
<body>
<!--精确搜索学生-->
<div id="addStudent" style="margin-top: 5px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">学号</label>
                <div class="layui-input-inline" style="width: 200px">
                    <input type="number" name="number" placeholder="请输入学号"
                           autocomplete="off"
                           class="layui-input number">
                </div>
                <div class="layui-form-mid layui-word-aux"><span style="color:#FFB400">*</span></div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" placeholder="请输入姓名"
                           autocomplete="off"
                           class="layui-input name">
                </div>
                <div class="layui-form-mid layui-word-aux"><span style="color:#FFB400">*</span></div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">系别</label>
                <div class="layui-input-inline">
                    <select autocomplete="off" class="no" id="skyx" name="no" lay-filter="no">
                        <option value="">请选择学院</option>
                        <option value="01">电气信息学院</option>
                        <option value="02">土木工程学院</option>
                        <option value="03">经济管理学院</option>
                        <option value="04">人文学院</option>
                        <option value="05">建筑管理学院</option>
                        <option value="06">艺术设计学院</option>
                        <option value="07">建筑学院</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button id="submit" class="layui-btn submit submit" lay-submit="true" lay-filter="formDemo">立即提交
                </button>
                <button id="reset" type="reset" class="layui-btn layui-btn-primary reset">重置</button>
                <button id="cancel" class="layui-btn layui-btn-primary">取消</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['table', 'jquery', 'layer', 'laydate', 'form', 'upload'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;

        $('#cancel').on('click', function () {
            parent.layer.close(parent.layer.index);
        });

        var isOne = true;

        var json;

        //提交数据
        form.on('submit(formDemo)', function (data) {

            var no = ["电气信息学院", "土木工程学院", "经济管理学院", "人文学院", "建筑管理学院", "艺术设计学院", "建筑学院"];

            for (var i = 0; i < no.length; i++) {
                if (i === (data.field.no.substring(1) - 1)) {
                    data.field.no = no[i];
                }
            }

            if (isOne) {
                isOne = false;
                json = data.field;
                parent.layer.close(parent.layer.index)
            } else {
                layer.msg("请不要重复提交");
            }

            return false;
        });

        window.getJson = function () {
            return json;
        }

    });
</script>
</body>
</html>